.App {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr);
  
 }
 .App>.Menu{
    grid-column: 12 span;
  grid-row: 1 span;
}
 .App>.Header{
    grid-column: 12 span;
  grid-row: 2 span;
}

.App>.Main{
 
  grid-column: 12 span;
  grid-row: 9 span;
}
